.submenu-item_wrapper {
  padding: 8px 16px 8px 36px;
  user-select: none;
  transition: all 0.3s ease-in-out;
  a {
    color: #2e3338;
  }

  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  &:hover {
    background: #2487f1;
    padding: 8px 20px 8px 40px;
    color: white;
    a {
      color: white;
    }
  }
  .menu__item {
    display: flex;
    justify-content: space-between;
  }
}
.visited {
  background: #007aff;
  color: white;
}
