.table-wrapper {
  margin-top: 34px;
  .table-header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2e3338;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px 20px 0px 0px;
  }
  .table-item {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    &:nth-child(even) {
      background: #f0f0f0;
    }
    .operation-wrapper {
      display: flex;
      justify-content: center;

      .operation {
        padding: 4px 6px;
        background: #248a3d;
        border-radius: 5px;
        width: 80px;
      }
    }
  }
}
