.product-status {
  display: flex;
  flex-direction: column;
  grid-gap: 36px;

  &_content {
    display: grid;
    grid-gap: 7px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: black;

    .content__item {
      width: 175px;
      padding: 8px 16px;
      background: white;
      border-radius: 10px;
    }

    .set {
      background: #140feb;
      color: white;
    }
  }
}
