@import "../../../../styles/modules/mixin";

.sidewrapper {
  height: 100%;
  background: linear-gradient(180deg, #007aff 0%, #0040dd 47.92%, #00288a 100%);
  width: 100%;

  @include media-query("laptop") {
    flex: 0 0 450px;
    height: 100vh;
  }

  @include media-query("laptop-l") {
    flex: 0 0 600px;
  }

  position: relative;
  overflow: hidden;
  &-content {
    text-align: center;
    padding: 100px 10px;
    @include media-query("laptop") {
      padding: 150px 0 0 0;
      max-width: 362px;
      margin: auto;
    }
    @include media-query("laptop-l") {
      padding: 229px 0 0 0;
      text-align: inherit;
      max-width: 362px;
      margin: auto;
    }
    .content__title {
      position: relative;
      z-index: 1;
      .title-header {
        letter-spacing: -0.41px;
        line-height: 54px;
        font-size: 24px;
        font-weight: 700;
        color: white;

        @include media-query("tablet") {
          font-size: 35px;
        }

        @include media-query("laptop") {
          font-size: 40px;
        }

        @include media-query("laptop-l") {
          font-size: 45px;
        }
      }
      .title-content {
        size: 16px;
        color: #ffffff;
        letter-spacing: -0.41px;
        line-height: 29.05px;
        weight: 300;
        @include media-query("laptop") {
          size: 24px;
        }
      }
    }
  }

  .bubble-container {
    position: relative;
    .bubble__item {
      background: #002fa4;
      border-radius: 50%;

      &:first-child {
        width: 15.6875rem;
        height: 15.6875rem;
      }
      &:nth-child(2) {
        width: 5rem;
        height: 5rem;
        margin: auto;
        margin-top: 17px;
      }
      &:nth-child(3) {
        width: 2rem;
        height: 2rem;
        margin: auto;
        margin-left: 45px;
      }
    }
    .bubble_middle__item {
      background: #002fa4;
      border-radius: 50%;

      &:nth-child(2) {
        width: 7.6875rem;
        height: 7.6875rem;
        margin-left: auto;
        transform: translate(3.0625rem, 0);
      }
      &:nth-child(3) {
        width: 5.125rem;
        height: 5.125rem;
        margin: auto;
      }
    }
  }
}
