@import "../../../../styles/modules/mixin";

.login-wrapper {
  background: white;
  width: 100%;

  @include media-query("laptop") {
    flex: 0 0 calc(100% - 450px);
  }

  @include media-query("laptop-l") {
    flex: 0 0 calc(100% - 600px);
  }

  height: 100vh;
  .login_content {
    display: grid;
    grid-gap: 50px;
    padding-top: 100px;
    @include media-query("laptop") {
      padding-top: 150px;
      grid-gap: 75px;
    }
    @include media-query("laptop-l") {
      padding-top: 229px;
      grid-gap: 100px;
    }
    &__title {
      display: flex;
      margin: auto;
      h1 {
        letter-spacing: -0.41px;
        line-height: 54px;
        font-size: 24px;
        font-weight: 700;

        @include media-query("tablet") {
          font-size: 35px;
        }

        @include media-query("laptop") {
          font-size: 40px;
        }

        @include media-query("laptop-l") {
          font-size: 45px;
        }

        span {
          &:first-child {
            color: #000000;
          }
          &:nth-child(2) {
            color: #0500ea;
          }
        }
      }
    }
    &__input {
      margin: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
